# Exercise 13: Writing Functions

## Aim: Introduce writing and calling functions.

### Issues covered:
- Writing a simple function
- Indenting code within a function
- Sending arguments to functions
- Calling functions
- Checking arguments in functions

## 1. Let's write a simple function and use it

Use the `def` function to define a function called `hello` to introduce yourself.

In [1]:
def hello():
    print("Hello, my name is Yufan")

Did the function return anything? If not, try running it!

In [2]:
hello()

Hello, my name is Yufan

## 2. Now let's write a function that takes an argument

Write a function which takes a number and doubles it.

In [3]:
def double(x):
    twox = 2*x
    return(twox)

Test the function by calling it with an integer, then a float.

In [8]:
print(double(5))
print(double(6.9))

10
13.8

What happens if you give it a string rather than a number?

In [9]:
double('y')

'yy'

What happens if you give it 2 numbers?

In [10]:
double(12, 34)

TypeError: double() takes 1 positional argument but 2 were given

## 3. Let's take a look at what functions return

Why is the result of the following `None`? Can you fix it?
```
def print_time(hour, minute, second):
    time_string = str(hour) + ':' + str(minute) + ':' + str(second)
    print(time_string)

result = print_time(11, 37, 59)
print('result of call is:', result)
```

In [12]:
def print_time(hour, minute, second):
    time_string = str(hour) + ':' + str(minute) + ':' + str(second)
    return(time_string)

result = print_time(11, 37, 59)
print('result of call is:', result)

result of call is: 11:37:59

Run the following and take a look at what it prints. Restructure it so that instead it prints `calling pressure is 22.5`.
```
def report(pressure):
    print('pressure is', pressure)

print('calling', report, 22.5)
```

In [16]:
def report(pressure):
    return('pressure is '+ str(pressure))

print('calling', report(22.5))

calling pressure is 22.5

## 4. Let's write a function to use Pythagoras' Theorem, like in exercise 2.

Define a function `calc_hypo` that takes two arguments, `a` and `b`. Inside the function, define a variable `hypo` equal to the length of the hypotenuse and return the value.

In [65]:
import math
def calc_hypo(a, b):
    print(locals().keys())
    #print(a%-1)
    #print(b%-1)
    try:
        if a%(-1) > 0 or b%(-1) > 0:
            print("bad argument")
            return(None)
        else:
            return math.hypot(a, b)
    except TypeError as err:
        print("bad argument")
        raise err
        return(None)

In [66]:
calc_hypo('1',1)

dict_keys(['a', 'b'])
bad argument

TypeError: not all arguments converted during string formatting

Test out the function by calling it with the values `3` and `4`.

In [55]:
calc_hypo(3, 4)

dict_keys(['a', 'b'])
-3
-4

5.0

Let's improve the function by adding some checks. Use `if` statements to print "bad argument" and return `None` if the argument type isn't `int` or `float`.

Call the function with different arguments to check that this is working.

In [52]:
calc_hypo('1', 2)

-2
bad argument

Add a second check to the function which prints "Bad argument" and returns `None` if a number equal to or less than zero is given.

In [53]:
calc_hypo(-3, 3)

3
-3
bad argument

Test out the check you added.

## 5. Extension Activity

1. Write a function which computes the average GDP for each file for a given country, continent and year.

_Hint: You will need the following steps:_
1. Create a function with the arguments country, continent, year.
2. Read the csv file (use the continent variable in the filename to open any file - e.g. the file name should be /data/`continent`_gdp.csv).
3. Use `.loc[ ]` to locate where the data for the country is.
4. Work out the GDP decade using the year given (maybe using floor division `//`).
5. Loop over the columns to find the one which starts with 'gdpPercap_`year`' (make use of `.index` and `.startswith()`).
6. Try calling the function and see what it returns - if you call it for Canada, americas in 1952 your answer should be 11928.55559.

In [79]:
import pandas as pd
import glob

def avg_GDP(continent, country, year):
    df = pd.read_csv(f"../data/{continent}_gdp.csv", index_col='country')
    print(df.loc[country])
    print(type(df.loc[country]))
    return None

In [80]:
avg_GDP('europe', 'France', 1987)

gdpPercap_1952     7029.809327
gdpPercap_1957     8662.834898
gdpPercap_1962    10560.485530
gdpPercap_1967    12999.917660
gdpPercap_1972    16107.191710
gdpPercap_1977    18292.635140
gdpPercap_1982    20293.897460
gdpPercap_1987    22066.442140
gdpPercap_1992    24703.796150
gdpPercap_1997    25889.784870
gdpPercap_2002    28926.032340
gdpPercap_2007    30470.016700
Name: France, dtype: float64
<class 'pandas.core.series.Series'>